a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(11, 11, 13);
  font-family: "Inter", sans-serif;
}
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  font-family: "Forum", cursive;
}
.body h2 {
  position: relative;
  margin: 15px 0 0 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
}
.body h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: rgb(12, 12, 14);
  top: 150%;
  left: 50%;
  transform: translate(-50%);
}

.content {
  width: 1440px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(12, 12, 14);
  color: rgb(255, 255, 255);
}
.header h1 {
  margin-left: 20px;
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.5px;
}
.header__menu-icon-conteiner {
  display: flex;
}
.header__icon {
  width: 4.25%;
  height: auto;
  margin: 31px 20px 31px 10px;
}

.menu {
  font-size: 20.4px;
  line-height: 50px;
  font-weight: 300;
}
.menu__ul {
  display: flex;
  padding: 0;
}
.menu__li {
  max-height: 40px;
  flex-shrink: 0;
  margin-right: 30px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
}
.menu__li:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(12, 12, 14);
}

.welcome {
  position: relative;
}
.welcome__gradient {
  width: 1440px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgb(12, 12, 14), transparent);
}
.welcome__h3-conteiner {
  width: 600px;
  height: 220px;
  position: absolute;
  top: 219px;
  background-color: rgb(12, 12, 14);
}
.welcome__h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0 0 0;
  line-height: 50px;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}
.welcome__h3 span:nth-of-type(1) {
  margin-left: -9px;
}
.welcome__h3 span:nth-of-type(3) {
  margin-left: 4px;
}

.about {
  width: 97.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__text {
  display: inline-block;
  margin: 61px 0 20px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
.about__images {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.about__img:nth-last-of-type(1) {
  display: none;
}
.about__img:nth-last-of-type(2) {
  display: none;
}
.about__input {
  width: 68px;
  height: 20px;
  margin: 40px 0 40px 0;
}

.favorites {
  width: 97.2%;
}
.favorites__h2 {
  width: 100%;
}
.favorites__input-name {
  display: inline-block;
  margin: 62px 0 40px 0;
  font-weight: 800;
  font-size: 20px;
}
.favorites__season {
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}
.favorites__items-conteiner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 40px;
  padding-right: 38px;
}
.favorites__item {
  width: 550px;
  height: 555px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 39px;
  padding: 0 170px 0 20px;
  border: 1px solid rgb(0, 0, 0);
}
.favorites__item img {
  position: absolute;
  top: 45.75%;
  left: 71%;
}
.favorites__item-hidden {
  display: none;
}
.favorites__item-name {
  position: relative;
  margin: 13px 0 19px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}
.favorites__item-name::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: rgb(187, 148, 95);
  top: 100%;
  left: 0;
}
.favorites__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorites__text-bold {
  margin-bottom: 20px;
  font-weight: 700;
}
.favorites__text-big-bold {
  margin-bottom: 0;
  text-transform: uppercase;
}
.favorites__button {
  width: 75px;
  height: 30px;
  position: absolute;
  bottom: 15px;
}
.favorites__button .favorites__own {
  display: none;
}
.favorites__button-disabled .favorites__own {
  display: inline-block;
}
.favorites__button-disabled .favorites__buy {
  display: none;
}

.coffee {
  width: 97.2%;
  margin-top: 7px;
}
.coffee__h2 {
  width: 100%;
}
.coffee__text {
  margin: 60px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}
.coffee__menu-conteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 26px 0 45px 0;
}
.coffee__menu-right {
  width: 33.5%;
}
.coffee__menu-left {
  width: 31.5%;
}
.coffee .body.content.coffee__menu-left {
  text-align: start;
}
.coffee content.coffee__menu-right {
  text-align: end;
}
.coffee__menu-name {
  color: rgb(187, 148, 95);
}
.coffee .coffee__menu-name::after {
  display: none;
}
.coffee .coffee__menu-name-right {
  text-align: end;
}
.coffee .coffee__menu-name-left {
  text-align: start;
}
.coffee__menu-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
}
.coffee__menu-item::after {
  content: "";
  width: 100px;
  height: 1px;
  position: absolute;
  top: 48%;
  right: 19%;
  background-color: rgb(187, 148, 95);
}
.coffee__menu-item-name {
  width: 47%;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.coffee__menu-left-name {
  text-align: start;
}
.coffee__menu-right-name {
  text-align: end;
}
.coffee__menu-item-price {
  margin: 0 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts {
  width: 97.2%;
}
.contacts__h2 {
  width: 100%;
}
.contacts__conteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
}
.contacts__item {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts__item-bold {
  font-weight: 700;
}
.contacts__item-break {
  margin-bottom: 40px;
}
.contacts a {
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
}
.contacts a:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.cards {
  width: 97.2%;
  margin-top: 40px;
}
.cards__h2 {
  width: 100%;
}
.cards__content {
  display: flex;
  justify-content: space-between;
}
.cards__left-title {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}
.cards__inputs {
  display: flex;
  flex-direction: column;
}
.cards__title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 2px;
}
.cards__input {
  font-family: "Forum", cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 2px;
}
.cards__left-button {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */