a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
}


// _____________________________________________________________________________________________________________________________

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(11, 11, 13);
  font-family: 'Inter', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Forum', cursive;
  }

  h2 {
    position: relative;
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: rgb(12, 12, 14);
      top: 150%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.content {
  width: 1440px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(12, 12, 14);
  color: rgb(255, 255, 255);

  h1 {
    margin-left: 20px;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.5px;
  }

  &__menu-icon-conteiner {
    display: flex;
  }

  &__icon {
    width: 4.25%;
    height: auto;
    margin: 31px 20px 31px 10px;
  }
}

.menu {
  font-size: 20.4px;
  line-height: 50px;
  font-weight: 300;

  &__ul {
    display: flex;
    padding: 0;
  }

  &__li {
    max-height: 40px;
    flex-shrink: 0;
    margin-right: 30px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
  }

  &__li:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(12, 12, 14);
}

.welcome {
  position: relative;

  &__gradient {
    width: 1440px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(12, 12, 14), transparent);
  }

  &__h3-conteiner {
    width: 600px;
    height: 220px;
    position: absolute;
    top: 219px;
    background-color: rgb(12, 12, 14);
  }

  &__h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0 0 0;
    line-height: 50px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

    color: rgb(255, 255, 255);

    span {
      &:nth-of-type(1) {
        margin-left: -9px;
      }

      &:nth-of-type(3) {
        margin-left: 4px;
      }
    }
  }
}

.about {
  width: 97.2%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 18px 0 0 0;
  }

  &__text {
    display: inline-block;
    margin: 61px 0 20px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }

  &__images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  &__img:nth-last-of-type(1) {
    display: none;
  }

  &__img:nth-last-of-type(2) {
    display: none;
  }

  &__input {
    width: 78px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    margin: 32px 0 43px 0;
  }

  &__button-lable {
    width: 26px;
    height: 26px;
    position: relative;
    cursor: pointer;
  }

  input.about__button {
    width: 16px;
    height: 16px;
    position: absolute;
    display: block;
    margin: 0;
    top: 33%;
    left: 20%;
    appearance: none;
    border-radius: 50%;
    background-color: rgb(12, 12, 14);
    transition: all 0.4s ease;
    cursor: pointer;
  }

  input.about__button:checked {
    background-color: rgb(187, 148, 95);
  }
}

.favorites {
  width: 97.2%;

  &__h2 {
    width: 100%;
  }

  &__input-name {
    display: inline-block;
    margin: 62px 0 40px 0;
    font-weight: 800;
    font-size: 20px;
  }

  &__input-conteiner {
    display: flex;
  }

  &__input-area {
    display: flex;
    cursor: pointer;
  }

  &__input-area:nth-of-type(4) {
    margin-left: 12px;
  }

  &__input-season {
    position: relative;
    appearance: none;
    width: 17px;
    height: 17px;
    margin: 4px 3px 0 0;
    border-radius: 50%;
    border: 2px solid rgb(12, 12, 14);
    cursor: pointer;
  }

  input.favorites__input-season::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: inherit;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    transition: all 0.4s ease;
  }

  input.favorites__input-season:checked {
    border: 2px solid rgb(12, 12, 14);


  }

  input.favorites__input-season:checked+.favorites__season {
    font-weight: 700;
  }

  input.favorites__input-season:checked::before {
    background-color: rgb(12, 12, 14);
  }

  &__season {
    width: 155px;
    margin: 0 0 0 17px;
    display: block;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    transition: all 0.4s ease;
  }

  &__items-conteiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 40px;
    padding-right: 38px;
  }

  &__item {
    width: 550px;
    height: 555px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 39px;
    padding: 0 170px 0 20px;
    border: 1px solid rgb(0, 0, 0);

    img {
      position: absolute;
      top: 45.75%;
      left: 71%;
    }
  }

  &__item-hidden {
    display: none;
  }

  &__item-name {
    position: relative;
    margin: 13px 0 19px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
  }

  &__item-name::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: rgb(187, 148, 95);
    top: 100%;
    left: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__text-bold {
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__text-big-bold {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__button {
    width: 75px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    transition: all 0.4s ease;

    .favorites__own {
      display: none;
    }
  }

  &__button:hover {
    border: none;
    background-color: rgb(187, 148, 95);
  }

  &__button-disabled {
    border: 1px solid rgb(187, 148, 95);
    color: rgb(187, 148, 95);

    .favorites__own {
      display: inline-block;
    }

    .favorites__buy {
      display: none;
    }
  }

  &__button-disabled:hover {
    border: 1px solid rgb(187, 148, 95);
    background-color: rgb(255, 255, 255);
    color: rgb(187, 148, 95);
    cursor: default;
  }
}

.coffee {
  width: 97.2%;
  margin-top: 7px;

  &__h2 {
    width: 100%;

  }

  &__text {
    margin: 60px 0 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
  }

  &__menu-conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 26px 0 45px 0;
  }

  &__menu-right {
    width: 33.5%;
  }

  &__menu-left {
    width: 31.5%;
  }

  .body.content.coffee__menu-left {
    text-align: start;
  }

  content.coffee__menu-right {
    text-align: end;
  }

  &__menu-name {
    color: rgb(187, 148, 95);
  }

  .coffee__menu-name::after {
    display: none;
  }

  .coffee__menu-name-right {
    text-align: end;
  }

  .coffee__menu-name-left {
    text-align: start;
  }

  &__menu-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;
  }

  &__menu-item::after {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    top: 48%;
    right: 19%;
    background-color: rgb(187, 148, 95);
  }

  &__menu-item-name {
    width: 47%;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__menu-left-name {
    text-align: start;
  }

  &__menu-right-name {
    text-align: end;
  }

  &__menu-item-price {
    margin: 0 0 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
  }
}

.contacts {
  width: 97.2%;

  &__h2 {
    width: 100%;
  }

  &__conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
  }

  &__item {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__item-bold {
    font-weight: 700;
  }

  &__item-break {
    margin-bottom: 40px;
  }

  a {
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;
  }

  a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}

.cards {
  width: 97.2%;
  margin-top: 45px;

  &__h2 {
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 33px 0 41px 0;
  }

  &__left-title {
    margin: 28px 0 30px 0;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.6px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(187, 148, 95);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6)
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin: 17px;
    box-sizing: border-box;
    background-color: rgb(187, 148, 95);
  }

  &__title {
    margin: 20px 0 0 20px;
    font-weight: 400;
    font-size: 29px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  &__input {
    width: 520px;
    height: 66px;
    margin: 20px 20px 25px 20px;
    padding: 8px 0 8px 20px;
    font-family: 'Forum', cursive;
    font-weight: 400;
    font-size: 29px;
    line-height: 50px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
  }

  &__input:nth-of-type(2) {
    margin: 0 20px 25px 20px;
    ;
  }

  &__left-button {
    width: 242px;
    height: 44px;
    margin: 3px 0 27px 0;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    transition: all 0.4s ease;
  }

  &__left-button:hover{
    border: none;
    background-color: rgb(187, 148, 95);
  }

  &__item-right {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__title-right {
    text-align: end;
  }

  &__right-text {
    margin: 26px 0 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.4px;
    text-align: end;
  }

  &__right-button {
    width: 75px;
    height: 30px;
    margin: 35px 0 0 15px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    transition: all 0.4s ease;
  }

  &__right-button:hover{
    border: none;
    background-color: rgb(187, 148, 95);
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 19px;
  color: rgb(255, 255, 255);

  a:hover {
    transition: all 0.4s ease;
    color: rgb(187, 148, 95);
  }

  img:hover {
    transition: all 0.4s ease;
    filter: brightness(0) saturate(100%) invert(56%) sepia(37%) saturate(446%) hue-rotate(355deg) brightness(101%) contrast(92%);
    scale: 1.8;
  }

  &__content {
    width: 97.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
  }

  &__section1 {
    min-height: 120px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  &__contacts {
    width: 16%;
  }

  &__networks {
    display: flex;
    margin-top: 21px;
    padding: 0;

    li {
      margin-right: 20px;
    }
  }

  &__hours {
    width: 16%;
    text-align: end;
  }

  &__hours-item {
    margin-bottom: 11px;
  }

  &__section2 {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    min-height: 63px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  &__year {
    width: 30%;
  }

  &__rs-link {
    width: 30%;
    text-align: center;
  }

  &__me-link {
    width: 30%;
    text-align: end;
  }
}