a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul{
  list-style: none;
}
// _____________________________________________________________________________________________________________________________

.body{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
  font-family: 'EB Garamond', serif;

  h1, h2, h3, h4{
    font-family: 'Forum', cursive;
  }
}

.content{
  width: 1440px;
}

.header{
  width: 100%;
  display: flex;
  background-color: rgb(12, 12, 14);
  color: rgb(255, 255, 255);
}

.menu{
  &__ul{
    display: flex;
  }
}