a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

// _____________________________________________________________________________________________________________________________

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: 'Inter', sans-serif;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Forum', cursive;
  }

  h2 {
    position: relative;
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: rgb(12, 12, 14);
      top: 150%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.content {
  width: 1440px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(12, 12, 14);
  color: rgb(255, 255, 255);

  h1 {
    margin-left: 20px;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.5px;
  }

  &__menu-icon-conteiner {
    display: flex;
  }

  &__icon {
    width: 4.25%;
    height: auto;
    margin: 31px 20px 31px 10px;
  }
}

.menu {
  font-size: 20.4px;
  line-height: 50px;
  font-weight: 300;

  &__ul {
    display: flex;
    padding: 0;
  }

  &__li {
    max-height: 40px;
    flex-shrink: 0;
    margin-right: 30px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
  }

  &__li:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(12, 12, 14);
}

.welcome {
  position: relative;

  &__gradient {
    width: 1440px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(12, 12, 14), transparent);
  }

  &__h3-conteiner {
    width: 600px;
    height: 220px;
    position: absolute;
    top: 219px;
    background-color: rgb(12, 12, 14);
  }

  &__h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0 0 0;
    line-height: 50px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

    color: rgb(255, 255, 255);

    span {
      &:nth-of-type(1) {
        margin-left: -9px;
      }

      &:nth-of-type(3) {
        margin-left: 4px;
      }
    }
  }
}

.about {
  width: 97.2%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    display: inline-block;
    margin: 61px 0 20px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }

  &__images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  &__img:nth-last-of-type(1) {
    display: none;
  }

  &__img:nth-last-of-type(2) {
    display: none;
  }

  &__input{
    width: 68px;
    height: 20px;
    margin: 40px 0 40px 0;
  }
}

.favorites{
  width: 97.2%;

  &__h2{
    width: 100%;
  }

&__input-name{
  display: inline-block;
  margin: 62px 0 42px 0;
  font-weight: 800;
  font-size: 20px;
}

&__season{
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}
}